<a href="https://colab.research.google.com/github/MelchiorKaczmarzyk/Internship-exercices/blob/main/Ex11_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Ex 11

In [193]:
import pandas as pd


df = pd.DataFrame(
    data={'weight': [75.0, 78.5, 85.0, 91.0, 84.5, 83.0, 68.0]}
)
df['weight_cut'] = pd.cut(
    df['weight'],
    bins=(60, 75, 80, 95),
    labels=['light', 'normal', 'heavy'],
)
df = pd.get_dummies(df)
print(df)

   weight  weight_cut_light  weight_cut_normal  weight_cut_heavy
0    75.0              True              False             False
1    78.5             False               True             False
2    85.0             False              False              True
3    91.0             False              False              True
4    84.5             False              False              True
5    83.0             False              False              True
6    68.0              True              False             False

###Ex 12

In [194]:
import pandas as pd


data_dict = {
    'currency': [
        ['PLN', 'USD'],
        ['EUR', 'USD', 'PLN', 'CAD'],
        ['GBP'],
        ['JPY', 'CZK', 'HUF'],
        [],
    ]
}
df = pd.DataFrame(data=data_dict)
#apply() jest ważne, aplikuje daną funkcję do każdego elementu w kolumnie
df['number'] = df['currency'].apply(len)
print(df)

               currency  number
0            [PLN, USD]       2
1  [EUR, USD, PLN, CAD]       4
2                 [GBP]       1
3       [JPY, CZK, HUF]       3
4                    []       0

###Ex 13

In [195]:
import pandas as pd

#Moja funkcja
def myFunction (array) :
  for x in array:
    if x== array.count == 0:
      return 0
    if x=='PLN':
      return 1
    else:
      return 0

data_dict = {
    'currency': [
        ['PLN', 'USD'],
        ['EUR', 'USD', 'PLN', 'CAD'],
        ['GBP'],
        ['JPY', 'CZK', 'HUF'],
        [],
    ]
}
#Moje rozwiązanie
df = pd.DataFrame(data=data_dict)
df['PLN flag'] = df['currency'].apply(myFunction)
print(df)

#Podane rozwiązanie
df['PLN_flag'] = df['currency'].apply(
    lambda array: 1 if 'PLN' in array else 0)
print(df)

               currency  PLN flag
0            [PLN, USD]       1.0
1  [EUR, USD, PLN, CAD]       0.0
2                 [GBP]       0.0
3       [JPY, CZK, HUF]       0.0
4                    []       NaN
               currency  PLN flag  PLN_flag
0            [PLN, USD]       1.0         1
1  [EUR, USD, PLN, CAD]       0.0         1
2                 [GBP]       0.0         0
3       [JPY, CZK, HUF]       0.0         0
4                    []       NaN         0

###Ex 14

In [196]:
import pandas as pd


df = pd.DataFrame(
    data={
        'hashtags': [
            '#good#vibes',
            '#hot#summer#holiday',
            '#street#food',
            '#workout',
        ]
    }
)
df = df['hashtags'].str.split(pat='#', expand=True)
df = df.drop(columns=[0])
df.columns = ['hashtag1', 'hashtag2', 'hashtag3']
print(df)

  hashtag1 hashtag2 hashtag3
0     good    vibes     None
1      hot   summer  holiday
2   street     food     None
3  workout     None     None

###Ex 15

In [197]:
import pandas as pd


df = pd.DataFrame(
    data={
        'hashtags': [
            '#good#vibes',
            '#hot#summer#holiday',
            '#street#food',
            '#workout',
        ]
    }
)
#Moje rozwiązanie
"""
missing = df['hashtags'].apply(lambda hashtag: 3 - hashtag.count('#'))
df = df['hashtags'].str.split('#', expand=True)
df['missing'] = missing
df = df.drop(columns=[0])
df.columns = ['hashtag1', 'hashtag2', 'hashtag3', 'missing']
print(df)
"""

#Podane rozwiązanie
df = df['hashtags'].str.split('#', expand=True)
df = df.drop(columns=[0])
df.columns = ['hashtag1', 'hashtag2', 'hashtag3']
df['missing'] = df.isnull().sum(axis=1)
print(df)

  hashtag1 hashtag2 hashtag3  missing
0     good    vibes     None        1
1      hot   summer  holiday        0
2   street     food     None        1
3  workout     None     None        2

###Ex 16

In [198]:
import pandas as pd
df = pd.DataFrame(
    data={
        'investments': [
            '100_000_000',
            '100_000',
            '30_000_000',
            '100_500_000',
        ]
    }
)
df['investments'] = df['investments'].apply(lambda x: int(x.replace('_','')))
print(df)

   investments
0    100000000
1       100000
2     30000000
3    100500000

###Ex 17

In [199]:
from sklearn.datasets import load_iris

data = load_iris()
print(data.keys())

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

###Ex 18

In [202]:
from sklearn.datasets import load_iris


data = load_iris()
print(data.feature_names)
print(data.target_names)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
['setosa' 'versicolor' 'virginica']

### Ex 19

In [206]:
from sklearn.datasets import load_iris


data_raw = load_iris()
data = data_raw['data']
target = data_raw['target']

print(data.shape)
print(target.shape)

(150, 4)
(150,)

###Ex 20

In [208]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split


data_raw = load_iris()
data = data_raw['data']
target = data_raw['target']
data_train, data_test, target_train, target_test = train_test_split(data, target, test_size=0.3)
print(data_train.size)